.content{
    margin-top: 50px;
    padding-left: 60px;
    padding-top: 30px;
    padding-right: 60px;
    background-color: $color_fondo_alt;
    background-image: url("../media/background3.jpg");
    background-repeat: repeat;
    font-family: $font, serif;
    font-size: large;
    color: $color_text_h1_content;
}

.adjust{
    padding-top: 40px;
    padding-bottom: 20px;
}

.container{
    display:inline-flex;
    padding: 0px;
}

.container-fluid{
    padding-right:5%;
}

#photo{
    padding-left: 10%;
    width:100%;
}