#nav-logo{
    width:200px;
    height:40px;
}

.bg-dark{
    background-color: $color_navbar!important;
}

.navbar{
    font-family: $font, sans-serif;
    font-size: larger;
    color:antiquewhite;
}